---
layout: measurement
title: Adoption
scripts: ['js/jquery.dataTables.min.js', 'js/dataTables.bootstrap.min.js', 'js/measurements/adoption.js']
---

<h1 class="page-header">HTTP/2 Adoption</h1>


<!-- SUPPORT DEFINITIONS -->
<div class="row" style="margin-left: 10px; margin-bottom: 20px">
	<div class="col-md-12">
		<div align="center">
			<table style="border-spacing: 50px 15px; border-collapse: separate;">
				<tr>
					<th><span style="font-size: x-large;" class="label label-warning">Announced Support</span></th>
					<th><span style="font-size: x-large;" class="label label-info">Partial Support</span></th>
					<th><span style="font-size: x-large;" class="label label-success">True Support</span></th>
				</tr>
				<tr>
					<td style="max-width: 300px; vertical-align: top;">
					<p>Sites advertise which application-layer protocols they
					support using NPN/ALPN. If a site advertises HTTP/2, we
					call this <b>announced support</b>.  <a href="#"
					data-toggle="modal"
					data-target="#announced-support-modal">more...</a></p>

					<p><a id="h2-announce-list-link" href="#"
					class="h2-announce"><span class="glyphicon
					glyphicon-arrow-down" style="padding-right: 5px;"
					aria-hidden="true"></span>Download URL list</a>
					</td>

					<td style="max-width: 300px; vertical-align: top;">
					<p> Some sites that announce HTTP/2 support immediately
					downgrade the connection to HTTP 1.1 if a client makes a
					request using HTTP/2. If a site responds using HTTP/2, even
					just to return an error page or redirect, we classify this
					as <b>partial support</b>.</p>

					<p><a id="h2-partial-list-link" href="#"
					class="h2-partial"><span class="glyphicon
					glyphicon-arrow-down" style="padding-right: 5px;"
					aria-hidden="true"></span>Download URL list</a></td>
					</td>
					
					<td style="max-width: 300px; vertical-align: top;">
					<p> If a site actually serves page content using HTTP/2,
					even if some embedded objects are still served over HTTP
					1.1, we call this <b>true support</b>.  </p> 
					
					<p><a id="h2-true-list-link" href="#" class="h2-true"><span
					class="glyphicon glyphicon-arrow-down"
					style="padding-right: 5px;"
					aria-hidden="true"></span>Download URL list</a></td>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div> <!-- row -->


<!-- TABLE OF CONTENTS -->
{% include adoption_toc.html %}



<!-- BY TIME -->
<div class="row" style="margin-left: 10px; margin-bottom: 40px">
	<a name="time" class="anchor-wrapper">
		<h3 class="anchor">Support by Time
		<!--<span class="pull-right" style="color:inherit;"data-toggle="modal" data-target="#announced-support-modal"><span class="glyphicon glyphicon-question-sign pull-right" style="font-size:20px"></span></span> -->
			&nbsp;&nbsp;<span style="font-size: medium;" class="label label-warning">Announced Support</span>
			<span style="font-size: medium;" class="label label-info">Partial Support</span>
			<span style="font-size: medium;" class="label label-success">True Support</span>
		</h3>
	</a>

	<div class="col-md-12">
		<div id="advertised-vs-actual-chart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
	</div> <!-- col -->
</div> <!-- row -->
<div class="row" style="margin-left: 10px; margin-bottom: 20px">
	<div class="col-md-12">
		<div id="draft-versions-chart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
	</div> <!-- col -->
</div> <!-- row -->
<div class="row" style="margin-left: 10px; margin-bottom: 20px">
	<div class="col-md-12">
		<div id="aux-protocols-chart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
	</div> <!-- col -->
</div> <!-- row -->


<!-- TABLE OF CONTENTS -->
{% include adoption_toc.html %}


<!-- BY SERVER -->
<div class="row" style="margin-left: 10px; margin-bottom: 40px">
	<a name="server" class="anchor-wrapper">
		<h3 class="anchor">Support by Server
			&nbsp;&nbsp;<span style="font-size: medium;" class="label label-success">True Support</span>
		</h3>
	</a>

	<div class="col-md-12">
		<div id="server-chart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
	</div> <!-- col -->
</div> <!-- row -->


<!-- TABLE OF CONTENTS -->
{% include adoption_toc.html %}


<!-- BY COUNTRY -->
<div class="row" style="margin-left: 10px; margin-bottom: 40px">
	<a name="country" class="anchor-wrapper">
		<h3 class="anchor">Support by Country
			&nbsp;&nbsp;<span style="font-size: medium;" class="label label-success">True Support</span>
		</h3>
	</a>
	
	<!-- Date Menu -->
	<div class="btn-group">
	  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
		<span id="country-date-display">Date</span> <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu" role="menu" id="country-date-menu">
		<!-- to be filled in programatically on page load -->
	  </ul>
	</div>
</div> <!-- row -->

<div class="row" style="margin-left: 10px; margin-bottom: 40px">
	<div class="col-md-12">
		<div id="actual-support-map" style="min-width: 310px; height: 500px; margin: 0 auto"></div>
	</div> <!-- col -->
</div> <!-- row -->


<!-- TABLE OF CONTENTS -->
{% include adoption_toc.html %}


<!-- BY ORGANIZATION -->
<div class="row" style="margin-left: 10px; margin-bottom: 40px">
	<!-- Header -->
	<a name="organization" class="anchor-wrapper">
		<h3 class="anchor">Support by Organization
			&nbsp;&nbsp;<span style="font-size: medium;" class="label label-success">True Support</span>
		</h3>
	</a>

	<!-- Date Menu -->
	<div class="btn-group">
	  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
		<span id="org-date-display">Date</span> <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu" role="menu" id="org-date-menu">
		<!-- to be filled in programatically on page load -->
	  </ul>
	</div>
</div> <!-- row -->

<div class="row" style="margin-left: 10px; margin-bottom: 40px">
	<div class="col-md-8 col-md-offset-2">


		<table id="org-table" class="table table-hover">
		  <col width="80%">
		  <col width="20%">
		  <thead>
		  <tr>
			<th>Organization</th>
			<th># Domains</th>
		  </tr>
		  </thead>

		</table>

	</div> <!-- col -->
</div> <!-- row -->






<!-- =============== BEGIN EXPLANATION MODALS =============== -->

<!-- ANNOUNCED VS ACTUAL SUPPORT -->
<div class="modal fade" id="announced-support-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		<h4 class="modal-title" id="myModalLabel">Announced Support and Actual Support</h4>
	  </div>
	  <div class="modal-body">
		<p>Until recently, web servers only worried about two flavors of HTTP:
		HTTP and HTTPS. Upon receiving a new connection, servers differentiated
		between the two using the TCP port number (80 for HTTP and 443 for
		HTTPS).</p>

		<p>Now, browsers may contact web servers using two additional
		protocols: SPDY and HTTP/2. Rather than assigning them new port
		numbers, they are both served on port 443 (along with HTTPS 1.1).  This
		means servers need a new way of determining which application protocol
		to speak on a new connection. The solution is a TLS extension called
		<b>Next Protocol Negotiation (NPN)</b> and its successor,
		<b>Application-Layer Protocol Negotiation (ALPN)</b>. NPN/ALPN allows
		application endpoints to negotiate which protocol to use over TLS.</p>
		
		<p>Servers use NPN/ALPN to announce which application protocols they
		support; we call this <b>announced support</b>. In many cases, however,
		if a client makes a request to a server announcing HTTP/2 support, the
		server downgrades the connection to HTTP 1.1. If, on the other hand,
		the server responds using HTTP/2, we call this <b>partial support</b>
		or <b>true support</b>.</p>
	  </div>
	</div>
  </div>
</div>

<!-- =============== END EXPLANATION MODALS =============== -->
