---
layout: measurement
title: Page Structure
scripts: ['js/measurements/structure.js']
---

<h1 class="page-header">Page Structure

	<!-- Date Menu -->
	<div class="btn-group pull-right">
	  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
		<span id="structure-date-display">Date</span> <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu" role="menu" id="structure-date-menu">
		<!-- to be filled in programatically on page load -->
	  </ul>
	</div>
</h1>


<!-- INFO -->
<div class="row" style="margin-left: 10px">
	<div class="col-md-4 col-md-offset-2"> 
		<div class="panel panel-default" style="margin-bottom:0px">
		  <div class="panel-body">
				<a data-toggle="modal" data-target="#page-differences-modal" href="#page-differences-modal">What is page structure?</a>
		  </div>
		</div>
	</div> <!-- col -->
	
	<div class="col-md-4"> 
		<div class="panel panel-default" style="margin-bottom:0px">
		  <div class="panel-body">
				<a data-toggle="modal" data-target="#plot-help-modal" href="#plot-help-modal">Reading a CDF</a>
		  </div>
		</div>
	</div> <!-- col -->
</div> <!-- row -->



<!-- TABLE OF CONTENTS -->
{% include structure_toc.html %}

<!-- NUM OBJECTS -->
<div class="row" style="margin-left: 10px; margin-bottom: 40px">
	<a name="objects" class="anchor-wrapper">
		<h3 class="anchor">Number of Objects</h3>
	</a>
	<div class="col-md-6">
		<div id="num-obj-diff-cdf" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
	</div> <!-- col -->
	<div class="col-md-6">
		<div id="num-obj-threshold-cdf" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
	</div> <!-- col -->
</div> <!-- row -->

<!-- TABLE OF CONTENTS -->
{% include structure_toc.html %}

<!-- NUM CONNECTIONS -->
<div class="row" style="margin-left: 10px; margin-bottom: 40px">
	<a name="connections" class="anchor-wrapper">
		<h3 class="anchor">Number of Connections</h3>
	</a>
	<div class="col-md-6">
		<div id="num-conn-diff-cdf" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
	</div> <!-- col -->
	<div class="col-md-6">
		<div id="num-conn-threshold-cdf" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
	</div> <!-- col -->
</div> <!-- row -->

<!-- TABLE OF CONTENTS -->
{% include structure_toc.html %}

<!-- NUM DOMAINS -->
<div class="row" style="margin-left: 10px; margin-bottom: 40px">
	<a name="domains" class="anchor-wrapper">
		<h3 class="anchor">Number of Domains</h3>
	</a>
	<div class="col-md-6">
		<div id="num-domain-diff-cdf" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
	</div> <!-- col -->
	<div class="col-md-6">
		<div id="num-domain-threshold-cdf" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
	</div> <!-- col -->
</div> <!-- row -->
	


<!-- =============== BEGIN EXPLANATION MODALS =============== -->

<!-- PAGE DIFFERENCES -->
<div class="modal fade" id="page-differences-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		<h4 class="modal-title" id="myModalLabel">Page Structure</h4>
	  </div>
	  <div class="modal-body">
		<p>Web pages are made up of multiple objects. This first object fetched is
		an HTML document, which tells your browser which additional objects it
		should load and how to display them. Additional objects could include
		scripts, style sheets, and images.</p>

		<p style="text-align: center;"><img src="{{ site.baseurl }}/img/objects@2x.png" width="204px"/></p>

		<p>For complex pages, these objects are often served from different
		servers. For example, a site might host all of its HTML and JavaScript
		on one server and its images on another. Sometimes, sites serve pages
		differently over HTTP and HTTP/2 (e.g., serving CSS in a separate file
		in HTTP/2 that was previously inlined directly in the HTML):</p>
		
		<p style="text-align: center;"><img src="{{ site.baseurl }}/img/object-differences@2x.png" style="width: 100%; max-width: 568px;"/></p>

		<p>These results compare the HTTP and HTTP/2 versions of the sites we
		crawled in terms of:
		<ul>
			<li><strong>Number of Objects:</strong> How many objects did each version of the page load?</li>
			<li><strong>Number of TCP Connections:</strong> How many connections did our browser make when it loaded each version of the page?</li>
			<li><strong>Number of Domains:</strong> How many servers did our browser contact when it loaded each version of the page?</li>
		</ul>
		</p>
	  </div>
	</div>
  </div>
</div>

{% include cdf.html %}

<!-- =============== END EXPLANATION MODALS =============== -->
