---
title: About
layout: default
---

<!-- ABOUT TEXT -->
<div class="row">
	<div class="col-md-10 col-md-offset-1">

		<div class="page-header">
		  <h1>About HTTP/2 Dashboard</h1>
		</div>

		{% include pam.html %}
		
		<p>HTTP/2 Dashboard is created and maintained by researchers at <a
		href="http://tid.es">Telef&oacute;nica Research</a>, <a
		href="http://www.case.edu">Case Western Reserve University</a>, and <a
		href="http://www.cmu.edu">Carnegie Mellon University</a>:</p>

		<table align="center">
			<tr>
				<td align="center" width="200px"><a href="http://matteo-varvello.com"><img src="{{ site.baseurl }}/img/matteo.png" style="width: 100px" /></a></td>
				<td align="center" width="200px"><a href="https://kyle.schomp.info"><img src="{{ site.baseurl }}/img/kyle.png" style="width: 100px" /></a></td>
				<td align="center" width="200px"><a href="http://www.cs.cmu.edu/~dnaylor/"><img src="{{ site.baseurl }}/img/david.png" style="width: 100px" /></a></td>
				<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
			</tr>
			<tr>
				<td align="center"><font size="4"><a href="http://matteo-varvello.com">Matteo Varvello</a></font></td>
				<td align="center"><font size="4"><a href="https://kyle.schomp.info">Kyle Schomp</a></font></td>
				<td align="center"><font size="4"><a href="http://www.cs.cmu.edu/~dnaylor/">David Naylor</a></font></td>
				<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
			</tr>

		</table>


		<p>&nbsp;</p>
		<p>&nbsp;</p>
		
		
		<table align="center">
			<tr>
				<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td align="center" width="200px"><a href="http://www.tid.es/research/researchers/j-blackburn"><img src="{{ site.baseurl }}/img/jeremy.png" style="width: 100px" /></a></td>
				<td align="center" width="200px"><a href="http://www.tid.es/research/researchers/alessandro-finamore"><img src="{{ site.baseurl }}/img/alessandro.png" style="width: 100px" /></a></td>
				<td align="center" width="200px"><a href="http://www.tid.es/research/researchers/dina-papagiannaki"><img src="{{ site.baseurl }}/img/dina.png" style="width: 100px" /></a></td>
			</tr>
			<tr>
				<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td align="center"><font size="4"><a href="http://www.tid.es/research/researchers/j-blackburn">Jeremy Blackburn</a></font></td>
				<td align="center"><font size="4"><a href="http://www.tid.es/research/researchers/alessandro-finamore">Alessandro Finamore</a></font></td>
				<td align="center"><font size="4"><a href="http://www.tid.es/research/researchers/dina-papagiannaki">Dina Papagiannaki</a></font></td>
			</tr>

		</table>

	</div> <!-- col -->
</div> <!-- row -->




<!-- CONTACT -->
<div class="row">
	<div class="col-md-10 col-md-offset-1">

		<h2>Contact</h2>
		<p>Questions or comments? Contact 
		<a href="mailto:matteo.varvello@telefonica.com?subject=HTTP/2 Dashboard
			&amp;body=I am contacting you about your H2 measurement platform.">
						Matteo Varvello</a>.</p>

	</div> <!-- col -->
</div> <!-- row -->

{% include logos.html %}
