---
layout: empty
scripts: ['js/index.js']
---


<div class="container">
	<!-- LOGO -->
	<div class="row" style="margin-top: 50px;">
		<div class="col-md-12" align="center">
			<img src="{{ site.baseurl }}/img/logo_text.svg" style="max-height:200px; width:100%;">
  			<p style="padding-top: 5px; font-size: 18pt; font-weight: 200;">Monitoring the adoption and performance of HTTP/2 on the Web.</p>
		</div> <!-- col -->
	</div> <!-- row -->

	<div class="row" style="margin-top: 70px;">
		<!-- MEASUREMENTS -->
		<div class="col-md-4 col-md-offset-2" align="center">
			<img align="center" src="{{ site.baseurl }}/img/measurements@2x.png" style="width: 150px" />
			<h2>Measurements</h2>
			<p>Adoption trends, usage patterns, and performance statistics</p>
			<p><a class="btn btn-default" href="{{ site.baseurl }}/measurements/adoption.html" role="button">View details »</a></p>
		</div> <!-- col -->
		
		<!-- PLATFORM -->
		<div class="col-md-4" align="center">
			<img align="center" src="{{ site.baseurl }}/img/platform@2x.png" style="width: 150px" />
			<h2>Platform</h2>
			<p>Description and status of our measurement platform.</p>
			<p><a class="btn btn-default" href="{{ site.baseurl }}/platform/overview.html" role="button">View details »</a></p>
		</div> <!-- col -->
	</div> <!-- row -->

	{% include counts.html %}

	{% include pam.html %}

	{% include logos.html %}
</div> <!-- container -->
