
<!-- HOW TO READ THE PLOTS -->
<div class="modal fade" id="plot-help-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		<h4 class="modal-title" id="myModalLabel">Reading a CDF</h4>
	  </div>
	  <div class="modal-body">

		<p>The plots on this page are <strong><a
		href="https://en.wikipedia.org/wiki/Cumulative_distribution_function">cumulative
		distribution functions</a></strong> (CDFs). A CDF describes a
		probability distribution by showing the probability that a random
		variable will take on a value less than or equal to <i>x</i>. For
		example, the CDF below shows that 50&#37; of HTTP 1.1 sites contain 64
		objects or fewer:</p>
		
		<p style="text-align: center;"><img src="{{ site.baseurl }}/img/cdf50@2x.png" width="500px"/></p>

		<p>You can also read it &#8220;in reverse&#8221;&mdash; for example,
		30&#37; of HTTP 1.1 sites contain 100 objects or more:</p>
		
		<p style="text-align: center;"><img src="{{ site.baseurl }}/img/cdf100@2x.png" width="500px"/></p>

	  </div>
	</div>
  </div>
</div>
