	<!-- COUNTS (Desktop)-->
	<div class="row hidden-xs" style="margin-top: 70px; margin-bottom: 20px">
		<div class="col-md-8 col-md-offset-2">
			<table align="center" style="border-spacing: 20px 15px; border-collapse: separate;">
				<tr>
					<td align="right"><span class="label label-warning" style="font-size: 21px">Announced Support</span></td>
					<td><p id="announced-text" style="font-size: 21px; font-weight: 200; padding-top: 7px;"></p></td>
				</tr>
				<tr>
					<td align="right"><span class="label label-info" style="font-size: 21px">Partial Support</span></td>
					<td><p id="partial-text" style="font-size: 21px; font-weight: 200; padding-top: 7px;"></p></td>
				</tr>
				<tr>
					<td align="right"><span class="label label-success" style="font-size: 21px">True Support</span></td>
					<td><p id="true-text" style="font-size: 21px; font-weight: 200; padding-top: 7px;"></p></td>
				</tr>
			</table>

		</div> <!-- col -->
	</div> <!-- row -->
	
	<!-- COUNTS (Mobile)-->
	<div class="row visible-xs" style="margin-top: 70px; margin-bottom: 20px" align="center">
		<div class="col-md-8 col-md-offset-2">
			<span class="label label-warning" style="font-size: 21px">Announced Support</span>
			<p id="announced-text-mobile" style="font-size: 21px; font-weight: 200; padding-top: 7px;"></p>
			<br/>
			<span class="label label-info" style="font-size: 21px">Partial Support</span>
			<p id="partial-text-mobile" style="font-size: 21px; font-weight: 200; padding-top: 7px;"></p>
			<br/>
			<span class="label label-success" style="font-size: 21px">True Support</span>
			<p id="true-text-mobile" style="font-size: 21px; font-weight: 200; padding-top: 7px;"></p>
		</div> <!-- col -->
	</div> <!-- row -->
