<footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
	<!-- Highcharts -->
	<script src="http://code.highcharts.com/highcharts.js"></script>
	<script src="http://code.highcharts.com/maps/modules/map.js"></script>
	<script src="http://code.highcharts.com/mapdata/custom/world.js"></script>

	<!-- Allow visitors to export charts-->
	<script src="http://code.highcharts.com/modules/exporting.js"></script>

	<!-- Highlight active tab in navbar and sidebar -->
	<script>
		var url = window.location;
		$('ul.nav a').filter(function() {
			// If the tab we're checking has sub-pages, there are multiple
			// pages that should set it to active
			if (this.id == 'measurements-tab') {
				return (url.href.indexOf('/measurements/') >= 0);
			}
			else if (this.id == 'platform-tab') {
				return (url.href.indexOf('/platform/') >= 0);
			}
			else {
			return this.href == url;
			}
			}).parent().addClass('active');
	</script>

	<!-- page-specific scripts, if any -->
	{% if page.scripts %}
		{% for script in page.scripts %}
			<script src="{{ site.baseurl }}/{{ script }}"></script>
		{% endfor %}
	{% endif %}

</footer>
