<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </button>
	  <a class="navbar-brand" href="{{ site.baseurl }}/index.html">HTTP/2 Dashboard&nbsp;<sup><span class="label label-default">BETA</span></sup></a>
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

	<!-- LINKS (left) -->
	  <ul class="nav navbar-nav">
		<!--<li><a href="{{ site.baseurl }}/overview.html">HTTP/2 Overview</a></li>-->

		<!-- Measurements Desktop -->
		<li class="hidden-xs"><a id="measurements-tab" href="{{ site.baseurl }}/measurements/overview.html">Measurements</a></li>

		<!-- Measurements Mobile -->
		<li class="dropdown visible-xs">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="{{ site.baseurl }}/measurements/overview.html">Measurements <span class="caret"></span></a>
          <ul class="dropdown-menu">
			<li><a href="{{ site.baseurl }}/measurements/overview.html"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;&nbsp;Overview</a></li>
			<li><a href="{{ site.baseurl }}/measurements/adoption.html"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span>&nbsp;&nbsp;Adoption</a></li>
			<li><a href="{{ site.baseurl }}/measurements/usage.html"><span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span>&nbsp;&nbsp;Usage Trends</a></li>
			<li><a href="{{ site.baseurl }}/measurements/performance.html"><span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>&nbsp;&nbsp;Performance</a></li>
          </ul>
        </li>



		<!-- Platform Desktop -->
		<li class="hidden-xs"><a id="platform-tab" href="{{ site.baseurl }}/platform/overview.html">Platform</a></li>
		
		<!-- Platform Mobile -->
		<li class="dropdown visible-xs">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="{{ site.baseurl }}/platform/overview.html">Platform <span class="caret"></span></a>
          <ul class="dropdown-menu">
			<li><a href="{{ site.baseurl }}/platform/overview.html"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;&nbsp;Overview</a></li>
			<li><a href="{{ site.baseurl }}/platform/workers.html"><span class="glyphicon glyphicon-th" aria-hidden="true"></span>&nbsp;&nbsp;Workers</a></li>
			<li><a href="{{ site.baseurl }}/platform/tasks.html"><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>&nbsp;&nbsp;Tasks</a></li>
          </ul>
        </li>


		<li><a href="{{ site.baseurl }}/about.html">About</a></li>
	  </ul>

	<!--
	  <div class="nav navbar-text progress pull-right" style="width: 200px;">
		<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
	  </div>
	-->


	</div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav><!-- navbar -->
