---
layout: base
---
<div class="container-fluid">
  <div class="row">
	
	<!-- SIDEBAR -->
	<div class="col-sm-3 col-md-2 sidebar">
	  <ul class="nav nav-sidebar">
		<li><a href="{{ site.baseurl }}/measurements/overview.html"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;&nbsp;Overview</a></li>
		<li><a href="{{ site.baseurl }}/measurements/adoption.html"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span>&nbsp;&nbsp;Adoption</a></li>
		<li><a href="{{ site.baseurl }}/measurements/structure.html"><span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span>&nbsp;&nbsp;Page Structure</a></li>
		<li><a href="{{ site.baseurl }}/measurements/performance.html"><span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>&nbsp;&nbsp;Performance</a></li>
	  </ul>
	</div>

	<!-- CONTENT -->
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  	  {{ content }}
	</div>

  </div>
</div>
